body {
    color: #DAF4C5;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background-color: #137177;
    font-size: 3rem;
}

.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.choice-prefix {
    padding: 2rem;
    color: #DEEDCF;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: #1D9A6C;
}

.incorrect {
    background: #BF8C00;
}

/* Display head */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
    color:#DAF4C5;
}

.hud-item {
    text-align: center;
    font-size: 2rem;
}

.diplay-head-item-txt {
    color:#DAF4C5;
}

#progressText {
    text-align: center;
    font-size: 2rem;
    color: #DAF4C5;
}

#progressBarFull {
    height: 100%;
    background: #9EE899;
    width: 0%;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid #9EE899;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
    color: white;
}

@media screen and (max-width: 768px) {
    .choice-container {
        max-width: 30rem;
    }
}